<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Flying</title>
    </h:head>
    <h:body>
        <h1 style="font-size:45px;">Flying</h1>
        <h:form>
            <p:dataTable value="#{beanController.imageBeans}" var="beans">
                <p:column>
                    <p:commandLink action="#{imageAction.doAction(beans.imageName)}">
                        <p:graphicImage library="image" 
                                        name="#{beans.imageName}" style="border: 0px;height:100px; width:140px; margin-right:15px; cursor:pointer"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>
