<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Flying Part 2</title>
    </h:head>
    <h:body>
        <h1 style="padding-top:3%;font-size:45px;">Selected Flying Image</h1>
        <h:form>
            <p:graphicImage library="image" name="#{currentImageName.imageName}"/>
            <p:commandButton value="Return" action="index" />
        </h:form>
    </h:body>
</html>
